<template>
  <button class="button">
    <slot />
  </button>
</template>

<style lang="scss" scoped>
  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
</style>
